{% load i18n %}
{% load pages_tags %}

{% get_current_language as LANG %}
<!DOCTYPE html>
<html dir="ltr" lang="{{ LANG }}">
<head>
    <title>{% block title %}Malene Bichel{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <link href="{{ STATIC_URL }}css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
      <link href="{{ STATIC_URL }}css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <script src="{{ STATIC_URL }}js/lib/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/lib/jquery.cycle.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>

    <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body class="bp {% block body-class %}{% endblock %}">

<div id="container">

    <header>
        <hgroup id="site-title">
            <h1><a href="{% url index %}">Malene Bichel</a></h1>
            <h2>Sanger og proceskonsulent</h2>
        </hgroup>
    </header>

    <section id="content">
    {% block content %}

    {% endblock %}
    </section>

    <aside id="sidebar">
        <nav id="main-navigation">
            <ul>
                <li><a href="{% url index %}">Forside</a></li>
                <li><a href="{% url course_signup %}">Tilmelding</a></li>
                <li><a href="{% url praises %}">Anbefalinger</a></li>
            </ul>
            {% render_page_navigation %}
        </nav>

        {% block sidebar %}
        {% endblock %}

    </aside>

    <footer>
        <!--<p>Hosted on a linode, powere by django and python developed by johan.cc</p>-->

    malenebi@gmail.com | 6114 4795

    </footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1946017-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</div>

</body>
</html>